* {
    margin: 0px;
    padding: 0px;
    font-family: "Hiragino Mincho ProN";
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100%;
    overflow: hidden;
    height:100vh;



}

nav {
    overflow: hidden;
    text-align: center;
    padding:5px;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);
     
}
nav a:hover{
    color:#726e6e;
}
/*
#header {
    background: url(/img/memberhead2.png) 0 0 no-repeat;
    background: cover;
    height:850px;
    width:100vw;
    position: relative;
    
}
*/
.logo img {
    width: 250px;
    height: 280px;
    margin: 20px 25px;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color:#292828;
    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 350px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

/* コンテンツ部分の装飾 */
.gallery {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.loaded {
    opacity: 0;
    visibility: hidden;
}

h1 {
    width: 100%;
    top: 350px;
    text-align: center;
    font-size: 54px;
    color: #f9f5f0;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
    text-shadow:8px -1px 7px #252423;
}
/*
#main {
    background: url(/img/backgroundmember2.png) 0 0 no-repeat;
    width: 100vw;
    z-index: 3px;
    top: -250px;
    position: relative;
}
*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

#wrapper{
    background:url("/img/wrappermember2.png")0 0 no-repeat;
    background-size:cover;
}
p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 36px; 
    color: #f9f5f0;
}


#section1 {
    width: 70%;
    margin: 0 auto;
    height: 35vh;
   

}
#section1 p{
    padding-top:30px;
    padding-left:20px;
    line-height:40px;
    
}
#section2{
    width:70%;
    margin:0 auto;
    
    
}
#section2 h2{
    text-align:center;
    font-size:48px;
    padding-top:100px;
    padding-bottom:50px;
}
#section2 p{
    text-align:center;
    line-height:30px;
    margin-bottom:80px;
    
}
.memberpic{
    width:500px;
    text-align: center;
    margin-right:0px;
    
    
}
.memberpic img{
    width:340px;
    height:340px;
}
#section2 .memberpic p{
    font-size:24px;
    font-weight:600;
    padding-top:28px;
   
}
#section2 .memberpic h2{
    font-size:36px;
    font-weight:600;
    padding-bottom:0px;
    
   
}
.flexbox{
   display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
#info {
    background: url(/img/news.png)0 0 no-repeat;
    width: 100vw;
    height: 100vh;
    z-index:3;
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    color: #2c2c2c;
}

.infobox{
    width:400px;
    height:500px;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:400px;
    height:300px;
    
}
#slick{
    margin-top:100px;
    width:100%;
    height:auto;
   
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:10px 40px;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:80px;
    font-size:24px;
    color:#2c2c2c;
    
}
#slick{
overflow:hidden
}
.infobox .info-button{
    display:inline-block;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 30px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:40px 20px;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:20px;
}
.wrap{
    overflow:hidden;
}

/*@mediaのところ以外は全てのサイズで読み込まれる！*/
/*PC用のCSS*/
@media screen and (min-width: 768px) { /*ウィンドウ幅が767px以上の場合に適用*/








}
/*タブレット用css*/
@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
 






}
/**/
@media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    nav a{
         font-size:12px;
          margin:10px 10px;
    }
    .logo img{
          width:18%;
        height:28%;
    }
    #header{
        height:290px;
    }
    #wrapper{
        background-size:cover;
    }
    h1{
        font-size:20px;
        line-height:30px;
        top:150px;
        
    }
    
    h2{
        font-size:24px;
       
    }
    p{
        font-size:16px;
        line-height:20px;
    }
    #section1{
        margin-top:0px;
        height:600px;
        width:80%;
    }
    #section2{
        width:80%;
        height:725vh;
    }
    #section2 h2{
        padding-bottom:10px;
        padding-top:0px;
        
    }
    
    .memberpic{
        width:400px;
        
    }
    .memberpic img{
        width:280px;
        height:280px;
    }
    #info{
        height:100vh;
        width:100%;
        overflow:hidden;
        
    }
   
    .infobox{
        width:100%;
        overflow:hidden;
    }
    #info h3{
        padding-top:40px;
        font-size:30px;
    }
    #slick{
        width:100%;
        bottom:50px;
        height:480px;
    }
    .infobox img{
        width:400px;
    }
    footer{
        text-align: left;
    }
    footer li{
        float:none;
        margin:6px 10px;
        font-size:14px;
    }
     footer p{
        width:80%;
        margin-top:0px;
        margin-left:10px;
        font-size:15px;
      
    }
    
}