* {
    margin: 0vw;
    padding: 0vw;
    font-family: "Hiragino Mincho ProN";
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100%;
    overflow: hidden;



}

nav {
    overflow: hidden;
    text-align: center;
    padding: 0.5vh;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);
     
}

#header {
    background: url(/img/memberhead2.png) 0 0 no-repeat;
    background: cover;
    height: 95vh;
    width:100vw;
    position: relative;
    
}

.logo img {
    width: 18vw;
    height: 36vh;
    margin: 40px;
}

h1 {
    width:100vw;
    top:42vh;
    text-align: center;
    font-size: 54px;
    color:#f9f5f0 ;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
}

#main {
    background: url(/img/backgroundmember2.png) 0 0 no-repeat;
    width: 100vw;
    z-index: 3px;
    top: -30vh;
    position: relative;
}


p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 36px;
    color: #f9f5f0;
}


#section1 {
    width: 70%;
    margin: 0 auto;
    height: 60vh;
    top: 700vh;
    padding-top:18vh;

}
#section1 p{
    padding-top:5vh;
    padding-left:1vw;
    line-height:5vh;
    
}
#section2{
    width:70%;
    margin:0 auto;
    height:400vh;
    
}
#section2 h2{
    text-align:center;
    font-size:48px;
    padding-top:10vh;
    padding-bottom:5vh;
}
#section2 p{
    text-align:center;
    line-height:5vh;
    margin-bottom:10vh;
    
}
.memberpic{
    width:33vw;
    text-align: center;
    margin-right:0px;
    
    
}
.memberpic img{
    width:70%;
    height:70%;
}
#section2 .memberpic p{
    font-size:24px;
    font-weight:600;
    padding-top:3vh;
   
}
#section2 .memberpic h2{
    font-size:36px;
    font-weight:600;
    padding-top:3vh;
    padding-bottom:0px;
    
   
}
.flexbox{
   display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
#info {
    background: url(/img/news.png)0 0 no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top:-30vh;
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 5vh;
    color: #2c2c2c;
}

.infobox{
    width:40vw;
    height:50vh;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:30vw;
    height:30vh;
    
}
box.img{
    width:30vw;
    height:40vh;
}
#slick{
    margin-top:15vh;
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:1vh 3vw;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:10vh;
    font-size:24px;
    color:#2c2c2c;
    
}
.infobox .info-button{
    display:inline-block;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:4vh 2vw;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:3vh;
}