* {
    margin: 0px;
    padding: 0px;
    font-family: "Hiragino Mincho ProN";
}
#wrapper{
    width:100%;
    overflow:hidden;
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100%;
    overflow: hidden;



}

nav {
    overflow: hidden;
    text-align: center;
    padding:5px;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);
     
}
nav a:hover{
color:#726e6e;
}

#header {
    background: url(/img/sstageshead.png) 0 0 no-repeat;
    background: cover;
    height:850px;
    width:100vw;
    position: relative;
    
}

.logo img {
    width:250px;
    height:280px;
    margin:20px 25px;
}

h1 {
    width:100vw;
    top:350px;
    text-align: center;
    font-size: 54px;
    color:#2c2c2c;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
}

#main {
    background: url(/img/backgroundstages.png) 0 0 no-repeat;
    width: 100vw;
    z-index: 3px;
    top: -250px;
    position: relative;
}


p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 36px;
    color: #f9f5f0;
}


#section1 {
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    padding-top:160px;

}
#section1 p{
    padding-top:30px;
    padding-left:20px;
    line-height:40px;
    
}
#section2{
    width:70%;
    margin:0 auto;
    height:250vh;
    
}
#section2 h2{
    text-align:center;
    font-size:48px;
    padding-bottom:40px;
}

#content-box{
    width:300px;
    height:360px;
    background-color:#f9f5f0;
    text-align: center;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:15px;
    margin-left:15px;
}
#content-box h3{
    margin-top:20px;
    margin-bottom:30px;
    font-size:24px;
    color:#2c2c2c;
    
}
#content-box img{
    padding-bottom:30px;
    width:250px;
   

}
#content-box .button1 a{
    font-size:14px;
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    display:block;
    padding:15px 30px;
    margin:20px;
    font-weight:600;
}
#content-box .button1 a:hover{
    color:#2c2c2c;
    background-color:#726e6e;
}
#content-box h4{
    margin-top:0px;
    margin-bottom:24px;
    font-size:20px;
    line-height:21px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#info {
    background: url(/img/news.png)0 0 no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top:-250px;
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    color: #2c2c2c;
}

.infobox{
    width:400px;
    height:500px;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:400px;
    height:300px;
    
}

#slick{
    margin-top:100px;
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:10px 40px;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:80px;
    font-size:24px;
    color:#2c2c2c;
    
}
.infobox .info-button{
    display:inline-block;
}
#slick{
    overflow:hidden;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:40px 20px;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:20px;
}
/*@mediaのところ以外は全てのサイズで読み込まれる！*/
/*PC用のCSS*/
@media screen and (min-width: 768px) { /*ウィンドウ幅が767px以上の場合に適用*/








}
/*タブレット用css*/
@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/







}
/**/
@media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  nav a{
         font-size:15px;
          margin:10px 10px;
    }
    .logo img{
          width:80px;
        height:90px;
    }
    #header{
         background:none;
        background:url(/img/spsbackgroundstages.png) 0 0 no-repeat;
    }
    h1{
        font-size:20px;
        line-height:30px;
        top:150px;
    }
    #main{
          background:none;
          background:url(/img/spstagesback2.png)0 0 no-repeat;
          top:-650px;
          
    }
    #section1{
        width:80vw;
        height:75vh;
        padding-top:100px;
    }
    #section1 h2{
        font-size:28px;
        padding-top:0px;
    }
    #section1 p{
        font-size:18px;
        line-height:30px;
        padding-left:10px;
        
    }
    #section2{
        width:80vw;
        height:800vh;
    }
    #content-box{
        width:400px;
        height:400px;
    }
    #content-box img{
        width:300px;
        
    }
    #content-box h3{
        font-size:28px;
    }
    #content-box .button1 a{
        font-size:20px;
        padding:15px 20px;
        margin:10px 30px;
    }
     #info{
        margin-top:-650px;
        height:90vh;
         width:100vw;
    }
    #info h3{
        padding-top:40px;
        font-size:30px;
        margin-bottom:30px;
    }
    #slick{
        width:100%;
        height:500px;
        bottom:50px;
    }
    .infobox img{
        width:400px;
        
    }
    footer{
        text-align: left;
    }
    footer li{
        float:none;
        margin:6px 10px;
        font-size:14px;
    }
    footer p{
        width:100vw;
        padding-bottom:2px;
        margin-top:0px;
        margin-left:10px;
        font-size:15px;
      
    }


}