* {
    margin: 0px;
    padding: 0px;
    font-family: "Hiragino Mincho ProN";
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100%;
    overflow: hidden;



}

nav {
    overflow: hidden;
    text-align: center;
    padding:5px;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);

     
}
nav a:hover{
    color:#726e6e;
}
#header {
    background: url(/img/mainhead.png) 0 0 no-repeat;
    background: cover;
    height: 800px;
    position: relative;
}

.logo img {
    width: 250px;
    height: 280px;
    margin: 20px 25px;
}

h1 {
    writing-mode: vertical-rl;
    font-size: 54px;
    margin-top: 0px;
    color: #2c2c2c;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
    top: 120px;
    right: 120px;

}

#main {
    background: url(/img/backgroundmain.png) 0 0 no-repeat;
    width: 100%;
    z-index: 3px;
    top: -160px;
    position: relative;
}

.main1 img {
    width: 400px;
    height:400px;
    float: left;
    margin-right: 30px;
    margin-top: 240px;


}



.paragraph-box1 h2 {
    width: 1000px;
    padding-top: 300px;
    font-size: 36px;
    color: #f9f5f0;



}

p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 36px;
    color: #f9f5f0;
}

.paragraph-box1 p {
    width: 1000px;
    line-height: 40px;
    margin-top: 25px;

}

#section1 p {
    font-size: 20px;


}

#section1 {
    width: 70%;
    margin: 0 auto;
    height: 85vh;

}

#section2 {
    width: 70%;
    margin: 0 auto;
    height: 72vh;
}

.main2 img {
    width: 400px;
    height: 400px;
    margin-top:20px;
    float: right;
    margin-left: 25px;

}

.paragraph-box2 h2 {
    width: 400px;
    padding-top: 120px;
    font-size: 36px;
    color: #f9f5f0;
    text-align: center;
}

.paragraph-box2 p {
    width: 400px;
    line-height: 40px;
    margin-top: 30px;
    margin-right: 20px;

}

.button1 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding: 18px 60px;


}
.button1 a:hover{
    color:#2a2828;
    background-color:#f9f5f0;
}
.button1 {
    margin-top:30px;
    width: 400px;
    text-align: center;
}



#section3 {
    width: 70%;
    margin: 0 auto;
    height: 96vh;
}

.main3 img {
    width: 400px;
    height:400px;
    margin-top:50px;
    float: left;
    margin-right:40px;
    margin-left: 80px;


}

.paragraph-box3 p {

    line-height:40px;
    margin-top: 45px;


}

.paragraph-box3 h2 {
    padding-top: 10px;
    font-size: 36px;
    color: #f9f5f0;
    text-align: center;
}

.button2 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding:18px 60px;


}
.button2 a:hover{
     color:#2a2828;
    background-color:#f9f5f0;
}
.button2 {
    margin-top: 30px;
    width: 400px;
    text-align: center;
    float: right;
}

.main4 img {
    width:250px;
    height: 250px;
    position: absolute;
    z-index: 2;
    left:200px;
    top:1560px;
}

.paragraph-box3 {
    margin-top: 250px;
    width: 400px;
    float: right;
}

#info {
    background: url(/img/news.png)0 0 no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top:-160px;
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    color: #2c2c2c;
}

.infobox{
    width:400px;
    height:500px;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:400px;
    height:300px;
    
}

#slick{
    margin-top:100px;
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:10px 40px;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:80px;
    font-size:24px;
    color:#2c2c2c;
    
}
.infobox .info-button{
    display:inline-block;
}
#slick{
    width:100vw;
    overflow:hidden;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:40px 20px;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:20px;
}
/*@mediaのところ以外は全てのサイズで読み込まれる！*/
/*PC用のCSS*/
@media screen and (min-width: 768px) {

    /*ウィンドウ幅が767px以上の場合に適用*/






}
/*タブレット用css*/
@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  /*  
    h1{
        right:9vw;
        font-size:30px;
        line-height:50px;
        top:15vh;
    }
  .logo img {
        width: 25vw;
        height: 28vh;
        margin: 2vh 3vw;
}
    #header{
        background:none;
        background:url(/img/mainheadtablet.png) 0 0 no-repeat;
        background:cover;
        position:relative;
    }
    #main{
        background:none;
        background:url(/img/backgrounmaintablet.png) 0 0 no-repeat;
        width:100vw;
        top:-50vh;
    }
    .pc{
        display:none;
    }
    #section1{
        height:54vh;
    }
    #section2{
        height:50vh;
    }
}*/
/*スマホ用css*/
@media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    nav a{
         font-size:15px;
          margin:10px 10px;
    }
    .logo img{
          width:80px;
        height:90px;
    }
    #header{
         background:none;
        background:url(/img/spmainhead.png) 0 0 no-repeat;
    }
    h1{
        font-size:20px;
        line-height:30px;
        top:80px;
        right:50px;
    }
    #main{
          background:none;
          background:url(/img/mainbackgroundsp.png)0 0 no-repeat;
          top:-570px;
          
    }
    #section1{
        width:80%;
        height:104vh;
        
        
    }
    .paragraph-box1 h2{
        padding-top:0px;
        font-size:24px;
        width:400px;
    }
    .paragraph-box1 p {

        font-size:14px;
        width:400px;
        line-height:30px;
        margin-top:0px;
        margin-top:20px;
    }
    .paragraph-box1{
        width:80%;
        margin-right:0px;
    }
    #section1 .main1{
        margin-right:0vw;
        width:80vw;
        text-align:center;
    }
    .main1 img{
        margin-top:15vh;
        float:none;
        width:280px;
        height:280px;
        margin-right:0px;
        margin-bottom:20px;
    }
    #section2{
        width:80%;
        height:80vh;
        
    }
    #section3{
        width:80vw;
    }
    .main2 img{
        margin:0px;
        width:280px;
        height:280px;
        float:none;
    }
    .main2{
        text-align: center;
    }
    .paragraph-box2 h2{
        width:400px;
        padding:0vh;
        margin-top:20px;
        
    }
    .paragraph-box2{
        width:400px;
        font-size:24px;
    }
    .paragraph-box2 p{
        width:400px;
        margin-top:10px;
        line-height:30px;
        font-size:18px;
    }
    .button1{
        width:400px;
        margin:0px;
        margin-top:10px;
       
    }
    .main3 img{
        float:none;
        width:280px;
        height:280px;
        margin:0px;
        margin-top:50px;
        
    }
    .main3{
        text-align:center;
    }
    .paragraph-box3{
        width:400px;
        margin-top:40px;
    }
    .paragraph-box3 h2{
        width:400px;
        padding:0px;
    }
    .paragraph-box3 p{
        width:400px;
        margin-top:20px;
        line-height:30px;
        padding-left:10px;
        font-size:18px;
    }
    .main4 img{
        top:1530px;
        left:70px;
        width:160px;
        height:160px;
    }
    .button2{
         width:400px;
        margin:0px;
        margin-left:0px;
        margin-right:0px;
        margin-top:25px;
    }
    #info{
        margin-top:-570px;
        height:80vh;
        
    }
    #info h3{
        padding-top:30px;
        font-size:30px;
    }
    #slick{
        width:100%;
        bottom:400px;
        height:360px;
    }
    .infobox img{
        width:400px;
        
    }
    footer{
        text-align: left;
    }
    footer li{
        float:none;
        margin:8px 10px;
        font-size:14px;
    }
    footer p{
        margin-top:0px;
        margin-left:10px;
        font-size:15px;
      
    }
}