* {
    margin: 0px;
    padding: 0px;
    font-family: "Hiragino Mincho ProN";
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100%;
    overflow: hidden;
    height:120vh;



}

nav {
    overflow: hidden;
    text-align: center;
    padding:5px;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);


}

nav a:hover {
    color: #726e6e;
}

/*
#header {
    background: url(/img/mainhead.png) 0 0 no-repeat;
    background: cover;
    height: 800px;
    position: relative;
}
*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

#wrapper {
    background: url(/img/wrappermain.png) no-repeat;
    background-size: cover;
    width: 100%;
}

.logo img {
    width: 250px;
    height: 280px;
    margin: 20px 25px;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color:#292828;
    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 350px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

/* コンテンツ部分の装飾 */


.loaded {
    opacity: 0;
    visibility: hidden;
}




h1 {
    writing-mode: vertical-rl;
    font-size: 54px;
    margin-top: 0px;
    color: #2c2c2c;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
    top: 120px;
    right: 120px;
    text-shadow:2px 3px 15px #808080;

}

/*
#main {
    background: url(/img/backgroundmain.png) 0 0 no-repeat;
    width: 100%;
    z-index: 3px;
    top: -160px;
    position: relative;
}
*/


.main1 img {
    width: 400px;
    height:400px;
   
    
}
.main1{
    width:400px;
    height:400px;
    
}

.paragraph-box1{
    width:40vw;
    height:50vh;
}
.paragraph-box1 h2 {
    margin-right:0px;
    font-size: 36px;
    color: #f9f5f0;


}

p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 24px;
    color: #f9f5f0;
}

.paragraph-box1 p {
    line-height: 40px;
    margin-top: 25px;

}

#section1 p {
    font-size: 20px;


}

#section1 {
    width: 70%;
    margin: 0 auto;
    height: 75vh;
    display:flex;
    justify-content:space-around;
    
}

#section2 {
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    display:flex;
    justify-content:space-around;
}
.main2{
    order:2;
    
}

.main2 img {
    width: 400px;
    height: 400px;
}
.paragraph-box2{
    width:30vw;
    height:50vh;
    order:1;
    
}
.paragraph-box2 h2 {
    font-size: 36px;
    color: #f9f5f0;
    text-align: center;
}

.paragraph-box2 p {
    line-height: 40px;
    margin-top: 30px;
    text-align:left;

}

.button1 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding: 18px 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);


}
.button1 a:hover{
    color:#2a2828;
    background-color:#f9f5f0;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}
.button1 {
    margin-top:30px;
    text-align: center;
}




#section3 {
    width: 70%;
    margin: 0 auto;
    height: 70vh;
    display:flex;
    justify-content:space-around; 
   
}
/*
.main3 img {
    width: 400px;
    height:400px;
    margin-top:50px;
    float: left;
    margin-right:40px;
    margin-left: 80px;


}
*/
.main5{
    width:400px;
    height:400px;
}
.main5 img{
    width:400px;
    height:400px;
}
.paragraph-box3 p {

    line-height:50px;
    margin-top: 25px;
    text-align: left;

}

.paragraph-box3 h2 {
    font-size: 36px;
    color: #f9f5f0;
}

.button2 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding:18px 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);


}
.button2 a:hover{
     color:#2a2828;
    background-color:#f9f5f0;
     box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}
.button2 {
    margin-top: 50px;
    
    
}
/*
.main4 img {
    width:250px;
    height: 250px;
    position: absolute;
    z-index: 2;
    left:200px;
    top:1560px;
}
*/
.paragraph-box3 {
    width: 500px;
    height:400px;
    text-align:center;
    
}

#info {
    background: url(/img/news.png)0 0 no-repeat;
    background:cover;
    width: 100vw;
    height: 100vh;
    
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    color: #2c2c2c;
}

.infobox{
    width:400px;
    height:500px;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:400px;
    height:300px;
    
}

#slick{
    margin-top:100px;
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:10px 40px;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:80px;
    font-size:24px;
    color:#2c2c2c;
    
}
.infobox .info-button{
    display:inline-block;
}
#slick{
    width:100vw;
    overflow:hidden;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:40px 20px;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:20px;
}
/*@mediaのところ以外は全てのサイズで読み込まれる！*/
/*PC用のCSS*/
@media screen and (min-width: 768px) {

    /*ウィンドウ幅が767px以上の場合に適用*/






}
/*タブレット用css*/
@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  /*  
    h1{
        right:9vw;
        font-size:30px;
        line-height:50px;
        top:15vh;
    }
  .logo img {
        width: 25vw;
        height: 28vh;
        margin: 2vh 3vw;
}
    #header{
        background:none;
        background:url(/img/mainheadtablet.png) 0 0 no-repeat;
        background:cover;
        position:relative;
    }
    #main{
        background:none;
        background:url(/img/backgrounmaintablet.png) 0 0 no-repeat;
        width:100vw;
        top:-50vh;
    }
    .pc{
        display:none;
    }
    #section1{
        height:54vh;
    }
    #section2{
        height:50vh;
    }
}*/
/*スマホ用css*/
    @media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
        #wrapper{
           background:none;
            background:url("/img/spwrappermain.png");
           background-size:cover;
        }
       h1{
           color:#fff;
           right:120px;
           top:20vh;
           text-shadow:-3px 5px 9px #252423;
}
      
        
        #header{
            margin:0px;
            height:90vh;
        }
    nav a{
         font-size:12px;
          margin:10px 10px;
    }
    .logo img {
        width: 80px;
        height: 90px;
    }

  

    .main1 {
        width: 85vw;
        height: auto;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;

    }

    .main1 img {
        width: 80vw;
        height: auto;

    }
    .paragraph-box1{
        width:100%;
        
    }
    .paragraph-box1 h2{
        font-size:20px;
        text-align:left;
    }
    .paragraph-box1 p{
        font-size:18px;
        text-align: left;
    }
    .main2{
        width:85vw;
        height:auto;
        margin-bottom:20px;
        margin-right:0px;
        text-align: center;
    }
    .main2 img{
        width:80vw;
        height:auto;
    }
    #section1{
        width:85%;
        height:850px;
        margin:0 auto;
        
        margin-top:0px;
        display:block;
       text-align:center;
        
        
    }
    #section2{
        width:85%;
        margin:0 auto;
        height:800px;
        display:block;
        text-align: center;
        
    }
    .paragraph-box2{
        width:100%;
        text-align: center;
        
}
    .paragraph-box2 h2{
        font-size: 32px;
    }
    .paragraph-box2 p{
        font-size:18px;
    }
    .main5{
        width:80vw;
        height:auto;
        margin-bottom:20px;
    }
    .main5 img{
        width:85vw;
        height:auto;
    }
    #section3{
        width:85%;
        margin:0 auto;
        display:block;
        height:800px;
        
    }
    .paragraph-box3{
        width:100%;
    }
    .paragraph-box3 h2{
        font-size:32px;
    }
    .paragraph-box3 p{
        font-size:18px;
    }
    .center{
        text-align:center;
        width:85%;
        }
     #info{
        height:90vh;
        width:100%;
        
    }
    #info h3{
        padding-top:40px;
        font-size:30px;
    }
    #slick{
        width:100%;
        bottom:50px;
        height:480px;
    }
        slick-track{
            width:100%;
        }  
    .infobox img{
        width:400px;
    }
    footer{
        text-align: left;
    }
    footer li{
        float:none;
        margin:6px 10px;
        font-size:14px;
    }
     footer p{
        width:80%;
        margin-top:0px;
        margin-left:10px;
        font-size:15px;
      
    }
    }
}