* {
    margin: 0vw;
    padding: 0vw;
    font-family: "Hiragino Mincho ProN";
}

html {
    display: block;

}

body {
    display: block;
}

#header {
    width: 100vw;
    overflow: hidden;



}

nav {
    overflow: hidden;
    text-align: center;
    padding: 0.5vh;
    display: block;
    background: #2c2c2c;
}

nav ul {
    display: inline-block;
    text-align: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: #f4f0f0;
    font-family: "Hiragino Mincho ProN";
    margin: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

nav a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f9f5f0;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);

     
}
nav a:hover{
    color:#726e6e;
}
#header {
    background: url(/img/mainhead.png) 0 0 no-repeat;
    background: cover;
    height: 95vh;
    position: relative;
}

.logo img {
    width: 18vw;
    height: 36vh;
    margin: 3vw 5vh;
}

h1 {
    writing-mode: vertical-rl;
    font-size: 54px;
    margin-top: 0px;
    color: #2c2c2c;
    font-weight: 700;
    line-height: 100px;
    position: absolute;
    top: 120px;
    right: 9vw;

}

#main {
    background: url(/img/backgroundmain.png) 0 0 no-repeat;
    width: 100vw;
    z-index: 3px;
    top: -20vh;
    position: relative;
}

.main1 img {
    width: 30vw;
    height: 52vh;
    float: left;
    margin-right: 2.5vw;
    margin-top: 20vh;


}

.main1 {
    width: 30vw;

}

.paragraph-box1 h2 {
    width: 70vw;
    padding-top: 30vh;
    font-size: 36px;
    color: #f9f5f0;



}

p {
    font-size: 20px;
    color: #f9f5f0;

}

h2 {
    font-size: 36px;
    color: #f9f5f0;
}

.paragraph-box1 p {
    width: 70vw;
    line-height: 5vh;
    margin-top: 5vh;

}

#section1 p {
    font-size: 20px;


}

#section1 {
    width: 70%;
    margin: 0 auto;
    height: 85vh;
    top: 700vh;

}

#section2 {
    width: 70%;
    margin: 0 auto;
    height: 72vh;
}

.main2 img {
    width: 30vw;
    height: 52vh;
    top: 200vw;
    float: right;
    margin-left: 2.5vw;

}

.paragraph-box2 h2 {
    width: 30vw;
    padding-top: 12vh;
    font-size: 36px;
    color: #f9f5f0;
    text-align: center;
}

.paragraph-box2 p {
    width: 40vw;
    line-height: 5vh;
    margin-top: 5vh;
    margin-right: 2vw;

}

.button1 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding: 0.9vw 3vw;


}
.button1 a:hover{
    color:#2a2828;
    background-color:#f9f5f0;
}
.button1 {
    margin-top: 5vh;
    width: 30vw;
    text-align: center;
}



#section3 {
    width: 70%;
    margin: 0 auto;
    height: 96vh;
}

.main3 img {
    width: 30vw;
    height: 52vh;
    top: 200vw;
    float: left;
    margin-right: 2vw;
    margin-left: 8vw;


}

.paragraph-box3 p {

    line-height: 3vw;
    margin-top: 3vw;


}

.paragraph-box3 h2 {
    padding-top: 7vh;
    font-size: 36px;
    color: #f9f5f0;
    text-align: center;
}

.button2 a {
    font-size: 24px;
    text-decoration: none;
    color: #f9f5f0;
    background-color: #2a2828;
    display: inline-block;
    border-color: #2a2828;
    padding: 0.9vw 3vw;


}
.button2 a:hover{
     color:#2a2828;
    background-color:#f9f5f0;
}
.button2 {
    margin-top: 3vw;
    width: 30vw;
    text-align: center;
    float: right;
}

.main4 img {
    width: 18vw;
    height: 18vw;
    position: absolute;
    z-index: 2;
    left: 15vw;
    top: 110vw;
}

.paragraph-box3 {
    margin-top: 16vw;
    width: 30vw;
    float: right;
}

#info {
    background: url(/img/news.png)0 0 no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top: -20vh;
}

#info h3 {
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding-top: 5vh;
    color: #2c2c2c;
}

.infobox{
    width:40vw;
    height:50vh;
    text-align: center;
    overflow: scroll;
}
.infobox img{
    width:30vw;
    height:30vh;
    
}
box.img{
    width:30vw;
    height:40vh;
}
#slick{
    margin-top:15vh;
}
.infobox .info-button a{
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2c2c2c;
    padding:1vh 3vw;
    
    
}
.info-button a:hover{
    color:#2c2c2c;
    background-color:#f9f5f0;
}
h4{
    margin-top:10vh;
    font-size:24px;
    color:#2c2c2c;
    
}
.infobox .info-button{
    display:inline-block;
}
#slick{
    width:100vw;
    overflow:hidden;
}
.slick-slide {
  transition: .3s ease;
  transform: scale(.85);
}
.slick-current {
  transform: scale(1);
}
footer{
    width:100vw;
    height:20vh;
    background-color:#2c2c2c;
    text-align: center;
   
}
footer ul{
    display:inline-block;
}
footer li{
    color:#f9f5f0;
    float:left;
    list-style-type:none;
    margin:4vh 2vw;
    
}
footer a{
    text-decoration:none;
    color:#f9f5f0;
}
footer a:hover{
    color:#726e6e;
}
footer p{
    margin-top:3vh;
}
/*@mediaのところ以外は全てのサイズで読み込まれる！*/
/*PC用のCSS*/
@media screen and (min-width: 768px) {

    /*ウィンドウ幅が767px以上の場合に適用*/
    .sp{
        display:none;
    }
    footer {
        width: 100vw;
        height: 20vh;
        background-color: #2c2c2c;
        text-align: center;

    }

    footer ul {
        display: inline-block;
    }

    footer li {
        color: #f9f5f0;
        float: left;
        list-style-type: none;
        margin: 4vh 2vw;

    }

    footer a {
        text-decoration: none;
        color: #f9f5f0;
    }

    footer a:hover {
        color: #726e6e;
    }

    footer p {
        margin-top: 3vh;
    }







}
/*タブレット用css*/
@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  /*  
    h1{
        right:9vw;
        font-size:30px;
        line-height:50px;
        top:15vh;
    }
  .logo img {
        width: 25vw;
        height: 28vh;
        margin: 2vh 3vw;
}
    #header{
        background:none;
        background:url(/img/mainheadtablet.png) 0 0 no-repeat;
        background:cover;
        position:relative;
    }
    #main{
        background:none;
        background:url(/img/backgrounmaintablet.png) 0 0 no-repeat;
        width:100vw;
        top:-50vh;
    }
    .pc{
        display:none;
    }
    #section1{
        height:54vh;
    }
    #section2{
        height:50vh;
    }
}*/
/*スマホ用css*/
@media screen and (max-width: 480px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    nav a{
         font-size:15px;
          margin:2vh 2vw;
    }
    .logo img{
          width:20vw;
        height:15vh;
    }
    #header{
         background:none;
        background:url(/img/spmainhead.png) 0 0 no-repeat;
    }
    h1{
        font-size:20px;
        line-height:30px;
        top:12vh;
        right:9vw;
    }
    #main{
          background:none;
          background:url(/img/mainbackgroundsp.png)0 0 no-repeat;
          top:-64vh;
          
    }
    #section1{
        width:80%;
        height:104vh;
        
        
    }
    .paragraph-box1 h2{
        padding-top:0vh;
        font-size:24px;
        width:80vw;
    }
    .paragraph-box1 p {

        font-size:14px;
        width:80vw;
        line-height:3vh;
        margin-top:0vh;
        margin-top:4vh;
    }
    .paragraph-box1{
        width:80%;
        margin-right:0px;
    }
    #section1 .main1{
        margin-right:0vw;
        width:80vw;
        text-align:center;
    }
    .main1 img{
        margin-top:15vh;
        float:none;
        width:60vw;
        height:39vh;
        margin-right:0vw;
        margin-bottom:4vh;
    }
    #section2{
        width:80%;
        height:80vh;
        
    }
    #section3{
        width:80vw;
    }
    .main2 img{
        margin:0px;
        width:60vw;
        height:39vh;
        float:none;
    }
    .main2{
        text-align: center;
    }
    .paragraph-box2 h2{
        width:80vw;
        padding:0vh;
        margin-top:2vh;
        
    }
    .paragraph-box2{
        width:80vw;
        font-size:24px;
    }
    .paragraph-box2 p{
        width:80vw;
        margin-top:4vh;
        line-height:3vh;
        font-size:18px;
    }
    .button1{
        width:40vw;
        margin:0px;
        margin-left:20vw;
        margin-top:1vh;
    }
    .main3 img{
        float:none;
        width:60vw;
        height:39vh;
        margin:0px;
    }
    .main3{
        text-align:center;
    }
    .paragraph-box3{
        width:80vw;
        margin-top:8vh;
    }
    .paragraph-box3 h2{
        width:80vw;
        padding:0vh;
        margin-top:2vh;
    }
    .paragraph-box3 p{
        width:80vw;
        margin-top:4vh;
        line-height:3vh;
        font-size:18px;
    }
    .main4 img{
        top:210vh;
        width:30vw;
        height:20vh;
    }
    .button2{
         width:40vw;
        margin:0px;
        margin-left:0vw;
        margin-right:20vw;
        margin-top:2vh;
    }
    #info{
        margin-top:-64vh;
        height:80vh;
        
    }
    #info h3{
        padding-top:10vh;
        font-size:30px;
        height:10vh;
    }
    #slick{
        margin-top:0vh;
        bottom:25vh;
    }
    .infobox img{
        width:80vw;
        
    }
    footer{
        text-align: left;
    }
    footer li{
        float:none;
        margin:1vh 2vw;
        font-size:14px;
    }
    footer p{
        margin-top:0vh;
        margin-left:2vw;
        font-size:15px;
      
    }
}