*{
    margin:0vw;
    padding:0vw;
    font-family:"Hiragino Mincho ProN";
}
html{
   display:block;
    
}
body{
   display:block;
}
#header{
    width:100%;
    overflow:hidden;
   
    
    
}
nav{
    overflow:hidden;
    text-align:center;
    padding:20px;
    display:block;
     background:#2c2c2c;
}
nav ul{
    display:inline-block;
    text-align: center;
}
nav li{
    list-style-type:none;
    float:left;
}
nav a{
    text-decoration:none;
    font-size:24px;
    color:#f4f0f0;
    font-family:"Hiragino Mincho ProN";
    margin:20px;
    
}
#header{
    background:url(/img/mainhead.png) 0 0 no-repeat;
    background:cover;
    height:95vh;
    position:relative;
}
.logo img{
    width:18vw;
    height:36vh;
    margin:40px;
}
h1{
    writing-mode: vertical-rl;
    font-size:54px;
    margin-top:0px;
    color:#2c2c2c;
    font-weight:700;
    line-height:100px;
    position:absolute;
    top:120px;
    right:9vw;
    
}
#main{
    background: url(/img/backgroundmain.png) 0 0 no-repeat;
    width:100vw;
    z-index:3px;
    top:-20vh;
    position:relative;
}

.main1 img {
    width:30vw;
    height:52vh;
    float:left;
    margin-right:2.5vw;
    margin-top:20vh;
 

}
.main1{
    width:30vw;
    
}

.paragraph-box1 h2{
    width:70vw;
    padding-top:30vh;
    font-size:36px;
    color:#f9f5f0;
   
   
    
}
p{
    font-size:20px;
    color:#f9f5f0;
   
}
h2{
    font-size:36px;
    color:#f9f5f0;
}
.paragraph-box1 p{
    width:70vw;
    line-height:5vh;
    margin-top:5vh;
    
}
#section1 p{
    font-size:20px;
 
    
}
#section1{
    width:70%;
    margin:0 auto;
    height:85vh;
    top:700vh;
    
}

#section2{
    width:70%;
    margin:0 auto;
    height:72vh;
}
.main2 img {
    width:30vw;
    height:52vh;
    top:200vw;
    float:right;
    margin-left:2.5vw;

}
.paragraph-box2 h2{
    width:30vw;
    padding-top:12vh;
    font-size:36px;
    color:#f9f5f0;
    text-align:center; 
}
.paragraph-box2 p{
    width:40vw;
    line-height:5vh;
    margin-top:5vh;
    margin-right:2vw;
    
}
.button1 a{
    font-size:24px;
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2a2828;
    display:inline-block;
    border-color:#2a2828;
    padding:0.9vw 3vw;
   
   
}
.button1{
    margin-top:5vh;
    width:30vw;
    text-align:center;
}
#section3{
    width:70%;
    margin:0 auto;
    height:96vh;
}
 .main3 img {
    width:30vw;
    height:52vh;
    top:200vw;
    float:left;
    margin-right:2vw;
    margin-left:8vw;


}
.paragraph-box3 p{

    line-height:3vw;
    margin-top:3vw;
   
    
}

.paragraph-box3 h2{
    padding-top:7vh;
    font-size:36px;
    color:#f9f5f0;
    text-align:center; 
}
.button2 a{
    font-size:24px;
    text-decoration:none;
    color:#f9f5f0;
    background-color:#2a2828;
    display:inline-block;
    border-color:#2a2828;
    padding:0.9vw 3vw;
   
   
}
.button2{
    margin-top:3vw;
    width:30vw;
    text-align:center;
    float:right;
}
.main4 img{
    width:18vw;
    height:18vw;
    position:absolute;
    z-index:2;
    left:15vw;
    top:110vw;
}
.paragraph-box3{
    margin-top:16vw;
    width:30vw;
    float:right;
}
#info{
    background:url(/img/news.png)0 0 no-repeat;
    width:100vw;
    height:100vh;
    margin-top:-20vh;
}
#info h3{
    font-size: 54px;
    text-align:center;
    font-weight:600;
    padding-top:5vh;
    color:#2a2828;
}